<!-- Всі класи в даному файлі мають розпочинатись з footer-->
<section class="footer">
  <div class="container footer-container">
    <div class="footer-cont-adaptation">
      <div class="footer-svg-container">
        <a href="./index.html" class="footer-logo-link">
          <svg class="footer-logo-link-img" width="132" height="24">
            <use href="./img/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="footer-social-networks">
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-link-network"
            >
              <svg class="footer-netw-svg" width="24" height="24">
                <use href="./img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-link-network"
            >
              <svg class="footer-netw-svg" width="24" height="24">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-link-network"
            >
              <svg class="footer-netw-svg" width="24" height="24">
                <use href="./img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-cont-form">
        <div>
          <h2 class="footer-feedback-title">
            Transforming your <span class="footer-body-span">body </span>shape
            with us
          </h2>
        </div>
        <div>
          <p class="footer-paragraph">
            Subscribe and learn about new exercises!
          </p>
          <form class="footer-form">
            <label class="footer-label-form-email" for="footer-email-input">
              <input
                name="email"
                type="email"
                class="footer-email-input"
                id="footer-email-input"
                placeholder="Email"
              />
            </label>
            <button type="submit" class="footer-btn-email">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-cont-rights-terms-policy">
      <p class="footer-rights-paragraph">Your Energy. All rights reserved.</p>
      <div class="footer-count-end">
        <div class="footer-count-end-links">
          <a href="#" class="footer-policy">Privacy Policy </a>
          <span class="footer-slash"> / </span>
          <a href="#" class="footer-terms"> Terms of Service</a>
        </div>
        <p class="footer-copyright">&copy; 2023</p>
      </div>
    </div>
  </div>
</section>
