<!-- Всі класи в даному файлі мають розпочинатись з header-->
<header class="header">
  <div class="header-container container">
    <a class="header-logo" href="../index.html">
      <svg class="header-logo-img" width="132" height="24">
        <use href="../img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="header-pages">
      <li class="header-pages-item">
        <a class="header-pages-item-link header-pages-active" href="../index.html"
          >Home</a>
      </li>
      <li class="header-pages-item">
        <a class="header-pages-item-link" href="../favorites.html">Favorites</a>
      </li>
    </ul>
    <ul class="header-social">
      <li class="header-social-item">
        <a class="header-social-item-link" href="">
          <svg class="header-social-item-link-img" width="28" height="28">
            <use href="../img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a class="header-social-item-link" href="">
          <svg class="header-social-item-link-img" width="28" height="28">
            <use href="../img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a class="header-social-item-link" href="">
          <svg class="header-social-item-link-img" width="28" height="28">
            <use href="../img/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="header-burger js-open-menu" type="button">
      <svg class="header-burger-img" width="32" height="32">
        <use href="../img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>

<div class="header-menu js-menu-container" id="mobile-menu">
  <button
    type="button"
    class="header-menu-closed-btn menu-toggle js-close-menu"
    aria-expanded="false"
    aria-controls="mobile-menu">
    <svg width="32" height="32">
      <use href="../img/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <div class="header-mob-wrap">
    <ul class="header-mob-wrap-pages">
      <li class="header-mob-wrap-pages-item">
        <a class="header-mob-wrap-pages-item-link" href="../index.html"
          >Home</a>
      </li>
      <li class="header-mob-wrap-pages-item">
        <a class="header-mob-wrap-pages-item-link" href="../favorites.html">Favorites</a>
      </li>
    </ul>
    <ul class="header-mob-wrap-social">
      <li class="header-mob-wrap-social-item">
        <a class="header-mob-wrap-social-item-link" href="">
          <svg class="header-mob-wrap-social-item-link-img" width="28" height="28">
            <use href="../img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-mob-wrap-social-item">
        <a class="header-mob-wrap-social-item-link" href="">
          <svg class="header-mob-wrap-social-item-link-img" width="28" height="28">
            <use href="../img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-mob-wrap-social-item">
        <a class="header-mob-wrap-social-item-link" href="">
          <svg class="header-mob-wrap-social-item-link-img" width="28" height="28">
            <use href="../img/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
