.categories-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

.categories-photo-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.categories-img {
    max-width: 100%;
    height: 225px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.categories-gradient {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.categories-gradient:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(0deg, rgba(17, 17, 17, 0.50) 0%, rgba(17, 17, 17, 0.50) 100%);
    border-radius: 12px;
}

.categories-img::after {
    background-image: linear-gradient(0deg, rgba(17, 17, 17, 0.50) 0%, rgba(17, 17, 17, 0.50) 100%),
        lightgray -28.676px -4px / 112.045% 109.333% no-repeat;
}

.categories-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    width: 137px;
    height: auto;
    gap: 2px;
}

.categories-info-name {
    color: #F4F4F4;
    text-align: center;
    font-family: Neue Montreal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.categories-info-name::first-letter {
    text-transform: capitalize;
}

.categories-info-filter {
    color: rgba(244, 244, 244, 0.40);
    font-family: Neue Montreal;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

@media screen and (min-width: 375px) {

    .container {
        max-width: 365px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 734px;
    }

    .categories-gallery {
        max-width: 734px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 15px;
    }

    .categories-item {
        width: calc((100% - 2*15px) / 3);
    }

    .categories-img {
        max-width: 225px;
        height: 225px;
    }

    .categories-gradient {
        display: inline-block;
        position: relative;
        line-height: 0;
    }

    .categories-gradient:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        background-image: linear-gradient(0deg, rgba(17, 17, 17, 0.50) 0%, rgba(17, 17, 17, 0.50) 100%);
        border-radius: 12px;
    }

}

@media (min-width: 1440px) {
    .container {
        max-width: 1406px;
    }

    .categories-gallery {
        max-width: 930px;
    }

    .categories-img {
        max-width: 290px;
        height: 242px;
    }
}