.favorites {
  padding-top: 60px;
  padding-bottom: 80px;
}
.favorites-container {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.favorites-header {
  margin-bottom: 20px;
  font-size: 28px;
  color: var(--basic-dark);
  font-weight: 400;
  line-height: 1.36;
}
/**************************************************  sidebar  ********************************************/
.favorites-sidebar {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.favorites-sidebar-quote {
  background-color: var(--basic-dark);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 18px;
}
.favorites-sidebar-quote-icon-container {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: rgba(244, 244, 244, 0.2);
  position: relative;
}

.favorites-sidebar-quote-icon {
  fill: rgba(244, 244, 244);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.favorites-sidebar-quote-text {
  width: 243px;
  max-width: 100%;
}

.favorites-sidebar-quote-text-header {
  display: flex;
  justify-content: space-between;
  color: var(--basic-light);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 6px;
}

.favorites-sidebar-quote-text-icon {
  fill: var(--basic-light);
  width: 15.43px;
  height: 12.93px;
}

.favorites-sidebar-quote-text-quotetext {
  color: var(--basic-light);
  opacity: 60%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0;
}

.favorites-sidebar-quote-text-author {
  display: none;
}

.favorites-sidebar-sportblock {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.favorites-sidebar-sportblock-textblock {
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff;
}

.favorites-sidebar-sportblock-textblock-icon {
  fill: var(--basic-dark);
  margin-bottom: 11px;
}

.favorites-sidebar-sportblock-textblock-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 6px;
}

.favorites-sidebar-sportblock-textblock-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0;
  color: rgba(36, 36, 36, 0.6);
}

.favorites-exercises-none {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0;
  text-align: center;
  margin-left: 9px;
  margin-right: 9px;
  /* display: none; */
}

@media (min-width: 768px) {
  .favorites {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .favorites-container {
    gap: 64px;
  }

  .favorites-header {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 1.09;
  }

  .favorites-sidebar {
    gap: 16px;
  }

  .favorites-sidebar-quote {
    padding: 40px;
    gap: 16px;
  }
  .favorites-sidebar-quote-text {
    width: 574px;
  }
  .favorites-sidebar-quote-text-header {
    font-size: 24px;
    line-height: 1.33;
  }

  .favorites-sidebar-quote-text-icon {
    width: 18.52px;
    height: 15.52px;
  }

  .favorites-sidebar-quote-text-quotetext {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    padding-right: 40px;
  }

  .favorites-sidebar-quote-text-author {
    margin-top: 18px;
    color: var(--basic-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    display: block;
  }

  .favorites-sidebar-sportblock {
    gap: 16px;
    flex-direction: row;
  }

  .favorites-sidebar-sportblock-textblock {
    padding: 25px;
    width: 344px;
  }

  .favorites-sidebar-sportblock-textblock-header {
    font-size: 24px;
    line-height: 1.33;
  }

  .favorites-exercises-none {
    font-size: 18px;
    line-height: 1.33;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 68px;
    padding-bottom: 87px;
  }
}

@media (min-width: 1440px) {
  .favorites {
    padding-top: 62px;
    padding-bottom: 151px;
  }
  .favorites-container {
    flex-direction: row;
    gap: unset;
  }

  .favorites-header {
    margin-bottom: 44px;
  }

  .favorites-sidebar {
    width: 494px;
    margin-right: 32px;
  }

  .favorites-sidebar-sportblock-textblock {
    width: 239px;
  }
  .favorites-sidebar-quote-text {
    width: 364px;
  }
  .favorites-sidebar-quote-text-quotetext {
    padding-right: 0;
  }
  .favorites-exercises-none {
    margin-left: 148px;
    margin-right: 148px;
    padding-top: 102px;
    width: 554px;
    padding-bottom: 180px;
  }
}

/*************************************************  workout  ****************************************************/

.favorites-rating_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 1268px;
}

.favorites-rating_item {
  width: 335px;
  height: 160px;
  padding: 16px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 1);
  transition: all 300ms;
}

.favorites-rating_item:hover {
   transform: scale(1.01);
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.favorites-rating_item_wrap {
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;
}

.favorites-rating-title {
  color: var(--basic-dark);
  font-weight: 500;
  border-radius: 15px;
  border: 1px solid var(--basic-dark);
  padding: 5px 7.5px;
  margin-right: 8px;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
}

.favorites-rating-title-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}

.favorites-icon-bin {
  fill: var(--basic-light);
  stroke: var(--basic-dark);
}

.favorites-workouts-arrow {
  display: flex;
  margin-left: auto;
  gap: 8px;
}
.favorites-workouts-arrow-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.favorites-workouts-subtext {
  color: var(--basic-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0%;
}

.favorites-icon-wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.favorites-icon-circle {
  background-color: var(--basic-dark);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorites-icon-runner {
  fill: var(--basic-light);
  width: 14px;
  height: 14px;
  stroke: 242424;
}

.favorites-icon-title {
  padding-top: 2px;
  padding-bottom: 2px;
  color: var(--basic-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 240px;
}
.favorites-icon-title::first-letter {
  text-transform: capitalize;
}

.favorites-workout-description {
  display: flex;
  gap: 4px 10px;
  flex-wrap: wrap;
}

.favorites-description-light {
  color: rgba(36, 36, 36, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0;
  white-space: nowrap;
}

.favorites-description-dark {
  color: var(--basic-dark);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0;
  padding-left: 2px;
  text-transform: capitalize;
}

.favorites-description-light:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 345px) {
  .favorites-rating_item {
    height: 141px;
  }
  .favorites-rating_item_wrap {
    margin-bottom: 27px;
  }
  .favorites-icon-wrapper {
    margin-bottom: 16px;
  }
  .favorites-workout-description {
    gap: 10px;
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  .favorites-rating_item {
    width: 344px;
  }

  .favorites-workouts-arrow {
    align-items: center;
  }

  .favorites-workouts-subtext {
    line-height: 1.5;
  }

  .favorites-rating_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 32px;
    column-gap: 16px;
    max-height: 833px;
  }
}

@media (min-width: 1440px) {
  .favorites-rating_item {
    width: 405px;
  }
  .favorites-rating_list {
    width: 850px;
    max-height: 485px;
    overflow-y: scroll;
  }
  .favorites-rating_list::-webkit-scrollbar {
    width: 8px;
  }

  .favorites-rating_list::-webkit-scrollbar-track {
    margin-left: 16px;
    background-color: rgba(36, 36, 36, 0.1);
  }

  .favorites-rating_list::-webkit-scrollbar-thumb {
    background-color: var(--basic-dark);
    outline: none;
    border-radius: 4px;
    height: 141px;
  }
}

/*****************************************  pages  **************************************/

.favorites-pages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.favorites-pages-button {
  display: flex;
  font-size: 20px;
  background-color: transparent;
  padding: 0px;
  align-items: center;
  justify-content: center;
  color: #d4d4d4;
  transform: translateY(0px);
  transition: color var(--transition), transform var(--transition);
}

.favorites-current-page {
  color: var(--basic-dark);
  border: 1px solid var(--basic-dark);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.favorites-pages-button:hover,
.favorites-pages-button:focus {
  cursor: pointer;
  color: var(--basic-dark);
  transform: translateY(-3px);
}

.favorites-current-page:hover,
.favorites-current-page:focus {
  transform: translateY(0);
  cursor: pointer;
}
@media (min-width: 768px) {
  .favorites-pages-button {
    font-size: 24px;
  }
  .favorites-pages-list {
    margin-top: 32px;
  }
}
@media (min-width: 1440px) {
  .favorites-pages {
    display: none;
  }
}
