.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
  overflow-y: scroll;
}
  
.modal{
    color: rgba(244, 244, 244, 1);
    font-family: Neue Montreal;
    /* font-size: 20px; */
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;  
    padding: 40px 20px 20px 20px;
    position: absolute;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    top: 50%;
    left: 50%;
    width: 335px;
      background: rgba(36, 36, 36, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

  .modal-x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    right: 14px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
  }
  .modal-icon-x:hover,
  .modal-icon-x:focus .modal-x-button{
    border: none;
    background:rgba(244, 244, 244, 1) ;
    stroke: #000000;
    transform: rotate(90deg);
    border-radius: 50%;
  
  }
  .modal-icon-x {
  transition: transform 300ms ease-in-out;
  stroke: rgba(244, 244, 244, 1);
  }
  
  .modal-gif{
    width: 295px;
    height: 258px;
    border-radius: 12px;
    background: none;
    }
    .modal-describtion-container{
      padding-top: 20px;
    }
  
  .modal-exercise-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;  
    margin: 0;
  }
  .modal-exercise-name::first-letter {
    text-transform: capitalize;
  }
  .modal-rating{
    padding-top: 10px;
    display: flex;
    gap: 6px;
  
  }

  .modal-rating-value{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  
  }
  
  .modal-icon-star {
    fill: rgba(238, 161, 12, 1);
    width: 13px;
    height: 13px;
    padding: 0px;
  }
  .inactive{
    fill: rgba(244, 244, 244, 0.2);
    
    
  }
  .modal-description-block{
    padding-bottom: 40px;
  }
  .modal-description-block p{
    font-family: Neue Montreal;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 4px;
    margin: 0px;
  }
  .modal-description-block p::first-letter {
    text-transform: capitalize;
  }
  
  .modal-description-block-items{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding:8px 0px;
    border-bottom: 1px solid rgba(244, 244, 244, 0.2);
    border-top: 1px solid rgba(244, 244, 244, 0.2);
  }
  
  h4{
    font-family: Neue Montreal;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(244, 244, 244, 0.4);
  margin: 0px;
  }
  .modal-description-text{
    font-family: Neue Montreal;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(244, 244, 244, 0.6);
  }

.modal-favorites-add {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  height: 42px;
  font-family: Neue Montreal;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(36, 36, 36, 1);  
  background-color: rgba(244, 244, 244, 1);
  border-radius: 30px;
}

.modal-favorites-add:hover,
.modal-favorites-add:focus {
  color: #F4F4F4;
  border: 1px solid #F4F4F4;
  background-color: transparent;
}

.modal-favorites-add:hover .modal-icon-heart,
.modal-favorites-add:focus .modal-icon-heart {
  stroke: #F4F4F4;
}

.modal-icon-heart{
    width:18px;
    height:18px;
    fill: none;
    stroke: rgba(36, 36, 36, 1);
}

.modal-rating-open {
  padding: 0px 24px;
  height: 42px;
  font-family: Neue Montreal;
  line-height: 1.29;
  letter-spacing: 0px;
  border: 1px solid #F4F4F4;
  border-radius: 30px;
  background-color: transparent;
  color: rgba(244, 244, 244, 1);
  transition: background-color var(--transition);
}

.modal-rating-open:hover,
.modal-rating-open:focus {
  color: rgba(36, 36, 36, 1);
  background-color: rgba(244, 244, 244, 1);
}

.buttons-container {
  display: flex;
  gap:  6px;
}

  @media screen and (min-width: 768px){
  .modal {
    padding: 32px;
    width: 704px;
    /* height: 435px; */
  }
  .modal-describtion-container{
    width: 342px;
    padding-top: 0px;
  }
  .modal-gif{
    width: 270px;
    height: 259px;
    padding: 0px;
  }
  .modal-section{
    display: flex;
    gap: 28px
  }
  .modal-description-block-items{
  margin: 16px 0px;
  
  }
  @media screen and (min-width: 1440px){
    .modal-section{
      gap: 34px;
    }
  }
}
  
  .project-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--transition);
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @media screen and (max-width: 767px){
    .buttons-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -13px;
    margin-right: -13px;
  }
  .modal-favorites-add{
    padding: 0 14px 0 18px;
  }
  .modal-rating-open{
    padding: 0 18px;
  }
  
 
}


  .scroll-top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: rgba(36, 36, 36, 1);
  color: rgb(244, 244, 244);
  border: 2px solid rgba(36, 36, 36, 1);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: none;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.modal-icon-arrow{
  stroke: rgb(244, 244, 244);
  width: 33px;
  height: 33px;
  transform: rotate(-90deg);
}

.scroll-top-btn:hover{
  background-color: rgb(244, 244, 244);

}
.scroll-top-btn:hover > .modal-icon-arrow{
  animation: rotation 0.5s infinite linear;
stroke: rgba(36, 36, 36, 1);
}
@keyframes rotation {
  0% {
    transform: rotate(-90deg);
  }
  25% {
    transform: rotate(-100deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  75% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@media screen and (max-width: 767px){
  .scroll-top-btn {
    bottom: 20px;
    right: 20px;
 
    border: 1px solid rgba(36, 36, 36, 1);
    width: 40px;
    height: 40px;
  }
  
  .modal-icon-arrow{
    width: 13px;
    height: 13px;
  }
}